body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4{
    font-family: sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

@font-face{
    font-family: "Monita";
    src: url('./fonts/monita_signature/MonitaSignaturePERSONALUSE-BoldItalic.otf');
    font-weight: normal;
    font-style: normal;
}

/* Header menu */
#header-menu{
    padding-left: 4.5rem;
    color: white;
}

#header-menu svg{
    fill: white;
}

#navbar-brand{
    font-family: Monita;
    color: white;
}

/* Footer */
#sticky-footer {
    font-family: Monita;
    color:white;
}
